body {
  font-family: 'Poppins', sans-serif !important;
  overflow-x: hidden;
}

.chakra-heading {
  font-family: 'Poppins', sans-serif !important;
}
@media screen and (max-width: 500px) {
 

  /* Additional mobile styles for the text box (adjust as needed) */
  .slider-text-box {
    left: 10px;
    top: 20px;
    width: 90%;
  }
  .fontslidercss{
    font-size: 0.5rem !important;

  }
  .fontcss{
    font-size: 0.7rem !important;

  }
  .headingcss{
    font-size: 0.9rem !important;
  }
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.navbar_option {
  color: #1d305e !important;
  font-size: 16px !important;
  font-family: Poppins !important;
  font-weight: 600 !important;
  word-wrap: break-word !important;
  padding: 0px 20px;
}
.navbar_option_username {
  color: #1d305e !important;
  font-size: 16px !important;
  font-family: Poppins !important;
  font-weight: 600 !important;
  word-wrap: break-word !important;
}

.Navbar_buuton {
  border-radius: 5px !important;
  background: #1097b1 !important;
  color: #fff;
  font-family: Poppins !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 134.708px;
  height: 34px;
  flex-shrink: 0;
  margin: 0px 20px;
}
.Navbar_header_all_optine {
  width: 100%;
  text-align: right;
}

@media (min-width: 1200px) {
  .Navbar_header_all_optine {
    width: 100%;
    text-align-last: auto !important;
  }
}

.auth_hending {
  color: #2f3367;
  font-family: Poppins !important;
  font-size: 28px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
}
.auth_hending_content {
  color: #303468;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.auth_buttons {
  border-radius: 8px;
  background: #1097b1;
  width: 158px;
  height: 50px;
}
.auth_buttons_text {
  background: #1097b1;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.home_page_car_name {
  color: #1097b1;
  font-family: 'Poppins', sans-serif;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
}
.home_page_car_price {
  color: #1097b1;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.detail_page_card_image {
  width: 400px;
  max-width: 400px;
}
.home_page_location {
  color: #383838;

  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.home_page_car_details {
  color: #1097b1;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.more_details_home {
  background-color: #1097b1;
  color: #fff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}
.serach_heading {
  color: #000;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem !important;
  font-style: normal;
  font-weight: 700;
  line-height: 135px; /* 337.5% */
  text-transform: capitalize;
}
.home_page_buy_heading {
  color: #1d305e;

  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 70px;
}
.home_page_buy_text {
  color: #000;

  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 100px;
}
.centered-box {
  height: 48px !important;
  padding-left: 37px !important;
  text-align: left;
  -webkit-text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-aligned-box {
  text-align: left;
  padding-left: 20px;
}
.know_more_button {
  background: #1097b1 !important;
  color: #fff !important;
  text-align: center !important;
  font-family: 'Poppins' !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 135px !important; /* 843.75% */
  text-transform: capitalize !important;
}
.know_more_text {
  color: rgba(0, 0, 0, 0.67);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.know_more_heading {
  color: #1d305e;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.know_more_card {
  border-radius: 20px !important;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
  width: 339px !important;
  height: auto !important;
}
.know_more_card_test {
  border-radius: 20px !important;

  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25) !important;
  width: 339px !important;
  height: auto !important;
}
.know_more_compontent_heading {
  color: #000 !important;
  font-family: Poppins !important;
  font-size: 1.3rem !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
  text-transform: capitalize !important;
}
.custom-selector .css-1okebmr-indicator-separator,
.custom-selector .css-1gtu0rj-indicatorContainer {
  background-color: transparent !important;
}
.featured_car {
  position: absolute !important;
  bottom: 10px !important;
  right: 10px !important;
  color: white !important;
  background: #ff6347 !important;
  font-size: 15px !important;
  border-radius: 30px !important;
  padding: 5px 20px 5px 20px !important;
  letter-spacing: 1px !important;
  font-family: 'Poppins', sans-serif !important;
}
.trending_car {
  position: absolute !important;
  bottom: 10px !important;
  right: 10px !important;
  color: white !important;
  background: #72b093 !important;
  font-size: 15px !important;
  border-radius: 30px !important;
  padding: 5px 20px 5px 20px !important;
  letter-spacing: 1px !important;
  font-family: 'Poppins', sans-serif !important;
}
.upcoming_car {
  position: absolute !important;
  bottom: 10px !important;
  right: 10px !important;
  color: white !important;
  background: #f89cc8 !important;
  font-size: 15px !important;
  border-radius: 30px !important;
  padding: 5px 20px 5px 20px !important;
  letter-spacing: 1px !important;
  font-family: 'Poppins', sans-serif !important;
}
.hotdeal_car {
  position: absolute !important;
  bottom: 10px !important;
  right: 10px !important;
  color: white !important;
  background: #fc0000 !important;
  font-size: 15px !important;
  border-radius: 30px !important;
  padding: 5px 20px 5px 20px !important;
  letter-spacing: 1px !important;
  font-family: 'Poppins', sans-serif !important;
}
